.card {
  position: relative;
}

.card-hitbox {
  background-color: var(--color-card-bg);
  border: 2px solid var(--color-card-border);
  border-radius: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.card-hitbox:hover .card-title {
  color: var(--color-card-title-hover);
  scale: 1.05;
  transition-property: color, scale;
  transition-duration: 0.25s;
}

.card.description-shown .card-hitbox {
  border-bottom: none;
  border-radius: 1rem 1rem 0 0;
}

.card-title {
  color: var(--color-card-title);
  font-size: 1.1875rem;
  text-align: center;
}

.card-image {
  aspect-ratio: 1;
}

.toggle-more-button {
  position: absolute;
  inset-inline-start: 50%;
  translate: -50% -2px;
  z-index: 2;

  background-color: var(--color-toggle-more-button-bg);
  border: 2px solid var(--color-card-border);
  border-end-end-radius: 1rem;
  border-end-start-radius: 1rem;
  border-top: none;
  color: var(--color-toggle-more-button-fg);
  width: 4rem;

  display: flex;
  justify-content: center;
}

.toggle-more-button:hover {
  color: var(--color-toggle-more-button-fg-hover);
}

.card:not(:hover, :focus-within, .description-shown) .toggle-more-button {
  display: none;
}

.card.description-shown .toggle-more-button {
  border-bottom: none;
  border-radius: 0;
  padding-top: 2px;
  width: 100%;
}

.toggle-more-icon {
  transition: scale 0.25s;
}

.card.description-shown .toggle-more-icon {
  scale: 1 -1;
}

.card-description {
  position: absolute;
  translate: 0 26px;
  z-index: 1;

  background-color: var(--color-card-bg);
  border: 2px solid var(--color-card-border);
  border-top: none;
  border-radius: 0 0 1rem 1rem;
  padding: 0 1rem 1rem 1rem;

  transition-property: background-color, border-color, color, scale;
  transition-duration: 0.25s;
  transform-origin: 0% -30px;
}

.card:not(.description-shown) .card-description {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
  scale: 1 0;
}
