.app {
  background-color: var(--color-app-bg);
  color: var(--color-app-text);
  min-height: 100vh;
  padding: 1rem 2rem;
}

.app-content {
  margin-inline: auto;
  max-width: 95rem;

  display: grid;
  grid-template-areas:
    'title scoreboard'
    'cards cards     ';
  align-content: start;
  gap: 2rem;
}

@media (width <= 480px) {
  .app {
    padding: 0;
  }

  .page-title {
    margin-inline-start: 2rem;
    margin-top: 1rem;
  }
}

.page-title {
  color: var(--color-page-title);
  font-size: clamp(1.25rem, 5vw, 2rem);
  grid-area: title;
  text-wrap-style: balance;
}

.cards {
  grid-area: cards;

  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  justify-content: center;
  gap: 1rem;
}
