.app {
  background-color: var(--color-app-bg);
  color: var(--color-app-text);
  min-height: 100vh;
  padding: 1rem 2rem;
}

.page-title {
  color: var(--color-page-title);
  text-wrap-style: balance;
}

.cards {
  margin-block: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}
