.app {
  background-color: var(--color-app-bg);
  color: var(--color-app-text);
  min-height: 100vh;
  padding: 1rem 2rem;

  display: grid;
  grid-template-areas:
    'title scoreboard'
    'cards cards     ';
  align-content: start;
}

.page-title {
  color: var(--color-page-title);
  font-size: clamp(1.25rem, 5vw, 2rem);
  grid-area: title;
  text-wrap-style: balance;
}

.cards {
  grid-area: cards;
  margin-block: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}
